{%- capture flickity_options -%}
    {
    "prevNextButtons": false,
    "pageDots": {% if section.blocks.size > 1 %}true{% else %}false{% endif %},
    "setGallerySize": true,
    "wrapAround": true,
    "watchCSS": true,
    "dragThreshold": 8
    }
{%- endcapture -%}

<section id="section-{{ section.id }}" class="py-64 -bg-gray" data-section-id="{{ section.id }}"
        data-section-type="collection-list">
    <div class="restaurant-container">
        {%- if section.settings.subheading != blank or section.settings.title != blank -%}
            <header class="SectionHeader SectionHeader--center">
                {%- if section.settings.subheading != blank -%}
                    <h3 class="SectionHeader__SubHeading Heading u-h6">{{ section.settings.subheading | escape }}</h3>
                {%- endif -%}

                {%- if section.settings.title != blank -%}
                    <h2 class="SectionHeader__Heading Heading u-h1 fz-32">{{ section.settings.title | escape }}</h2>
                {%- endif -%}
            </header>
        {%- endif -%}
        <div class="l-grid-small">
            {%- for block in section.blocks -%}
                <div class="l-grid-small__cell col-sm-4">
                    <div class="restaurant">
                        <div class="restaurant__img-wrap">
                            <img class="restaurant__img" src="{{ block.settings.image | img_url: '800x' }}" alt="">
                        </div>
                        <div class="">
                            <h3 class="text-center restaurant__head">{{ block.settings.title }}</h3>
                        </div>
                        <p class="text-center mb-0">{{ block.settings.address }}</p>
                        <p class="text-center">TEL&nbsp;{{ block.settings.tel }}</p>
                        <div class="flex items-center justify-around">
                            <a href="{{ block.settings.button_link }}" class="restaurant-btn">{{ block.settings.button_txt }}</a>
                            <div class="sns_block">
                                {%- if block.settings.sns_facebook_link != blank -%}
                                    <a href="{{ block.settings.sns_facebook_link | replace_first: 'https://', '' | replace_first: 'http://', '' | prepend: 'https://' }}"
                                            class="Link Link--primary" target="_blank"
                                            rel="noopener" aria-label="FaceBook">

                                        <span class="Icon-Wrapper--clickable">{%- render 'icon' with 'facebook_2' -%}</span>
                                    </a>
                                {%- endif -%}
                                {%- if block.settings.sns_twitter_link != blank -%}
                                    <a href="{{ block.settings.sns_twitter_link | replace_first: 'https://', '' | replace_first: 'http://', '' | prepend: 'https://' }}"
                                            class="Link Link--primary" target="_blank"
                                            rel="noopener" aria-label="Twitter">
                                        <span class="Icon-Wrapper--clickable">{%- render 'icon' with 'twitter_2' -%}</span>
                                    </a>
                                {%- endif -%}
                                {%- if block.settings.sns_instagram_link != blank -%}
                                    <a href="{{ block.settings.sns_instagram_link | replace_first: 'https://', '' | replace_first: 'http://', '' | prepend: 'https://' }}"
                                            class="Link Link--primary" target="_blank"
                                            rel="noopener" aria-label="Instagram">
                                        <span class="Icon-Wrapper--clickable">{%- render 'icon' with 'instagram_2' -%}</span>
                                    </a>
                                {%- endif -%}
                                {%- if block.settings.line_black != blank -%}
                                    <a href="{{ block.settings.line_black | replace_first: 'https://', '' | replace_first: 'http://', '' | prepend: 'https://' }}"
                                            class="Link Link--primary" target="_blank"
                                            rel="noopener" aria-label="LINE">
                                        <span class="Icon-Wrapper--clickable">{%- render 'icon' with 'line_black2' -%}</span>
                                    </a>
                                {%- endif -%}
                            </div>
                        </div>
                    </div>
                </div>
            {%- endfor -%}
        </div>
    </div>
</section>

{% schema %}
{
"name": "Restaurant list",
"settings": [
{
"type": "text",
"id": "subheading",
"label": "Sub-heading"
},
{
"type": "text",
"id": "title",
"label": "Heading"
}
],
"blocks": [
{
"type": "item",
"name": "Item",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image",
"info": "1120 x 1200px .jpg recommended"
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Collection name"
},{
"type": "text",
"id": "address",
"label": "Address"
},{
"type": "text",
"id": "tel",
"label": "Tel"
},
{
"type": "text",
"id": "button_txt",
"label": "Button text",
"default": "View More"
},
{
"type": "text",
"id": "button_link",
"label": "URL"
},
{
"type": "text",
"id": "sns_facebook_link",
"label": "FaceBookのURL"
},
{
"type": "text",
"id": "sns_twitter_link",
"label": "TwitterのURL"
},
{
"type": "text",
"id": "sns_instagram_link",
"label": "InstagramのURL"
},
{
"type": "text",
"id": "line_black",
"label": "LINEのURL"
}
]
}
],
"presets": [
{
"category": "Advanced",
"name": "Restaurant list",
"settings": {},
"blocks": [
{
"type": "item",
"settings": {
"title": "About Item"
}
}
]
}
]
}
{% endschema %}